<div class="container">
   {{#groupEach 5 heros}}
     <div class="row">
       {{#each this}}
       <section class="hero-card" data-id="{{id}}">
         <img src={{grabImage id}}>
         <h3>
           {{name}}
         </h3>
         <h6>
           {{hero_class}}
         </h6>
       </section>
       {{/each}}
     </div>
   {{/groupEach}}
 </div>
