<div class="line-container">
  <div class="header-line"></div>
  <h3>Heroes</h3>
  <div class="header-line"></div>
</div>
{{#if user.heros}}
  <div class="hero-icon-container">
        {{#each user.heros as |heroes|}}
          <div>
            <img class="hero-profile-icon" data-id="{{heroes.id}}" src="{{grabImage id}}" />
          </div>
        {{/each}}
  </div>
  {{else}}
      <p>This user doesn't have any heroes listed yet.</p>
  {{/if}}
