<h2>Heroes:</h2>
  <div class="hero-icon-container">
        {{#each user.heros as |heroes|}}
          <div class="hover-prompt">
            <img class="hero-profile-icon" data-id="{{ heroes.id}}" src="{{grabImage id}}" />
          </div>
        {{/each}}
  </div>
