<div class="spotlight-container">
    <div class="hero-spotlight">
        <div class="hero-spotlight-header">
            <div class="hero-spotlight-name">
                <h4>{{hero.hero_class}}</h4>
                <h5>{{hero.name}}</h5>
                <div class="textbox">
                    <p>{{grabDesc hero.id}}</p>
                </div>
            </div>
            <div class="hero-spotlight-image">
                <img src="{{grabImage hero.id}}">
            </div>
        </div>
    </div>
</div>