<div class="hero-spotlight">
    <div class="hero-spotlight-header">
        <div class="hero-spotlight-info">
            <h4>{{hero.name}}</h4>
            <h5>{{hero.hero_class}}</h5>
        </div>
        <div class="hero-spotlight-image">
            <img src="{{grabImage hero.id}}">
        </div>
    </div>

    <div class="hero-spotlight-info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus exercitationem ad laudantium maiores
            harum, autem suscipit nemo sapiente tempora ut ducimus consectetur laborum minima adipisci eum, porro
            dolores necessitatibus commodi?</p>
    </div>
</div>