<div class="spotlight-container">
    <div class="hero-spotlight">
        <div class="hero-spotlight-header">
            <div class="hero-spotlight-name">
                <h4>{{hero.hero_class}}</h4>
                <h5>{{hero.name}}</h5>
                <div class="textbox">
                    {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus exercitationem ad laudantium
                        maiores
                        harum, autem suscipit nemo sapiente tempora ut ducimus consectetur laborum minima adipisci eum,
                        porro
                        dolores necessitatibus commodi?</p> --}}
                        <p>{{grabDesc hero.id}}</p>
                </div>
            </div>
            <div class="hero-spotlight-image">
                <img src="{{grabImage hero.id}}">
            </div>
        </div>
    </div>
</div>