<div class="line-container">
  <div class="header-line"></div>
  <h3>Heroes</h3>
  <div class="header-line"></div>
</div>
<p class="editable add-hero-option">Add New Hero</p>
  <div class="hero-icon-container">
        {{#each user.heros as |heroes|}}
          <div class="hover-prompt">
            <img class="hero-profile-icon" data-id="{{getJoinId heroes.id arr=thing}}" src="{{grabImage id}}" />
          </div>
        {{/each}}
  </div>
