.profile-card {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(3);
  }
  // background: #2e2e2e;
  // background: linear-gradient(to bottom, #232526, #414345);
//   background-color: #000000;
// background-image: linear-gradient(135deg, #000000, #414141);
  background-color: #2d3547;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 5px;
  outline: none;
  padding: 1rem;
  text-align: center;
  transition: 0.2s ease;

  p {
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.hero-card {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(2);
  }
  // background: #2e2e2e;
  // background: linear-gradient(to bottom, #232526, #414345);
  background-color: #2d3547;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 5px;
  outline: none;
  padding: 1rem;
  text-align: center;
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    border-radius: 100%;
  }
}
