.profile-card {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(3);
  }
  background-color: #202634; //#2d3547;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 5px;
  outline: none;
  padding: 1rem;
  text-align: center;
  transition: 0.2s ease;

  p {
    margin-bottom: 0;
  }
  .status {
      font-size: 1vw;
      font-weight: bold;
      text-transform: uppercase;
      color: lighten(#f5b903, 5%);
      margin-bottom: 1%;
  }

  .card-platform {
    color: darken(#c3c8cf, 5%);
    line-height: .8;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.hero-card {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(2);
  }
  background-color: #202634; //#2d3547;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 5px;
  outline: none;
  padding: 1rem;
  text-align: center;
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  h5 {
    font-size: 2.5vh;
    margin-top: 2%;
    line-height: 1;
  }

  img {
    border-radius: 100%;
  }

  p {
    text-transform: uppercase;
    font-size: 1vw;
    color: $button;
  }
}
