// $background: #333366;
// $button: #f5b903;
$background: #1b1d29;
$paragraph-color: #fff;

body {
  background-color: #1b1d29;//#202634;
  height: 100%;
  overflow-y: scroll;
}

.homepage {
  color: $paragraph-color;
}

// .homePageSignUp {
//   background-color: $button;
// }
