@import '~bootstrap/scss/bootstrap';
nav {
  display: flex;
  justify-content: flex-end;

  a {
    margin:  2%;
  }
}

.intro-footer {
  display: block;
  padding-top: 1em;
}

.modal-greeting {
  line-height: .5em;
  text-align: center;
}

.view {
  margin: auto 5%;
}
