@import '~bootstrap/scss/bootstrap';
@import 'menu.scss';
@import 'home.scss';
@import 'profile-page.scss';
@import 'card.scss';
@import 'modals.scss';

$button: #f5b903;

.active {
  visibility: visible;
}

.auth-options {
  display: flex;
  justify-content: flex-end;

  a {
    margin:  2%;
  }
}

a {
  color: $button;

  &:hover {
    text-decoration: none;
  }
}

.btn,
.btn-primary:not(:disabled):not(.disabled).active {
  background-color: $button;
  border-color: $button;
}

.intro-footer {
  display: block;
  padding-top: 1em;
}

.modal-greeting {
  line-height: .5em;
  text-align: center;
}

.hidden {
  display: none;
}

.hero-search {
  justify-content: flex-start;

  a {
    margin:  2%;
  }
}

.row {
  justify-content: center;
}

.view {
  margin: auto 5%;
}
