@import '~bootstrap/scss/bootstrap';

.active {
  visibility: visible;
}

.auth-options {
  display: flex;
  justify-content: flex-end;

  a {
    margin:  2%;
  }
}

main {
  // @include make-container;
  // @include make-container-max-widths;

  section {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    background: $white;
    border: 1px solid;
    cursor: pointer;
    margin: -1px;
    outline: none;
    padding: 1rem;

    p {
      margin-bottom: 0;
    }
  }
}


.intro-footer {
  display: block;
  padding-top: 1em;
}

.modal-greeting {
  line-height: .5em;
  text-align: center;
}

.hidden {
  display: none;
}

.hero-search {
  justify-content: flex-start;

  a {
    margin:  2%;
  }
}

.profile-card {
  text-align: center;
}

.profile-pic {
  // https://alligator.io/css/cropping-images-object-fit/
  border-radius: 100%;
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.view {
  margin: auto 5%;
}
