$button: #FF9933;

nav {
  // background-color: black;
  margin-bottom: 1.5em;

  a {
    color: #fff;
    // letter-spacing: 4px;

    &:hover {
      color: $button;
      text-decoration: none;
      transition: .5s ease;
    }
  }
}
