$button: #f5b903;

.auth-options {
  display: flex;
}

.nav-item {
  color: #c3c8cf; //#fff;
  margin-bottom: 1.5em;

  &:hover {
    color: $button;
    text-decoration: none;
    transition: 0.5s ease;
  }

  &:nth-child(1) {
    font-weight: bold;
    font-size: 1.5em;
    color: $button;
    flex-grow: 5;
  }
  @for $i from 2 to 8 {
    &:nth-child(#{i}) {
      flex-grow: 0;
    }
  }
}

.collapse {
  background-color: black;
}
// .nav-item {
//   &:nth-child(1) {
//     flex-grow
//   }
// }
