$button: #FF9933;

nav {
  // background-color: black;
  margin-bottom: 1.5em;
  // top: 0;
  // width: 100%;
  a {
    color: #fff;
    // letter-spacing: 4px;
    &:hover {
      color: $button;
      text-decoration: none;
      transition: 0.5s ease;
    }
  }
}

.scroll-nav {
  @extend nav;
  background-color: #333;
  position: fixed;
  top: -100px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}
