$profile-background: #2d3547; //#414345;

iframe {
  border-color: $profile-background;
}

.profile-container {
  background-color: $profile-background;
  border-radius: 30px;
  // color: white;
  color: white;
  margin: 5% 20% 10%;
  text-align: center;
  padding-bottom: 10%;

  .modal {
    color: black;
  }

  h1 {
    font-size: 5vw;
  }

  h3 {
    color: #7b869c;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1%;
  }

  .summary {
    color: #7b869c;
  }

  .video-container {
    margin: 1% auto 5%;
  }

  // & > div, p, h1, h2, h3, h4, h5 {
  //   height: 100%;
  //   width: 100%;
  // }
}

.editable,
.in-profile-edit {
  &:hover {
    color: #f5b903;
    cursor: pointer;
  }
}

.profile-header {
  background-color: #2d3547;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
  height: 100%;
  padding: 5% 0;
  text-align: center;
}

.add-hero-option,
.add-video-option {
  &:hover {
    color: #f5b903;
    cursor: pointer;
  }
}

.hero-icon-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.played-hero-tooltip {
  color: gray;
  // display: block;
  display: none;
  height: 12px;
  width: 12px;
  position: relative;
  font-size: 0.5em;
  font-weight: 400;
  // visibility: hidden;
}

.hero-profile-icon {
  // border-radius: red 4px solid;
  border: $profile-background 4px solid;
  border-radius: 100%;
  object-fit: cover;
  height: 5vw;
  width: 5vw;
  padding: 0;
  margin: auto 1%;

  &:hover {
    cursor: pointer;
    border: #f5b903 4px solid;
    // .played-hero-tooltip {
    //   position: relative;
    //   visibility: visible;
    // }
  }
}

.details {
  background-color: #202634; //#222;
  color: #c3c8cf; //white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  margin-bottom: 2%;

  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1rem;

    h5 {
      font-size: .7vw;
      font-weight: bold;
      text-transform: uppercase;
      color: lighten(#f5b903, 5%);
      margin-bottom: 1%;
    }

    p {
      line-height: 1;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5vw;
    }
  }
}

.played-hero-icon {
  visibility: hidden;
}

.profile-pic {
  // https://alligator.io/css/cropping-images-object-fit/
  border-radius: 100%;
  border: 4px solid #2e2e2e;
  object-fit: cover;
  // height: 150px;
  // width: 150px;
  height: 14vw;
  width: 14vw;
}

.profile-pic-main {
  @extend .profile-pic;
  margin-bottom: 1%;
  height: 20vw;
  width: 20vw;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-view {
  h5 {
    font-size: 1.5vw;
  }
}
.line-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin: 15px 20px;

  .header-line {
    height: 1px;
    width: auto;
    background-color: rgba(163,163,172,0.2);
    flex-grow: 1;
  }

  h3 {
    padding: 0 12px;
  }
}
