<div class="modal fade" id="newRegion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Region</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-greeting">
          <h5>Edit Region</h5>
        </div>
        <form id="region">
          <div class="form-group">
            <input name="user[region]" type="text" placeholder="New Region" class="form-control" required>
          </div>
          <button class="btn btn-primary">Change Region</button>
        </form>
      </div>
    </div>
  </div>
</div>
